.product {
	/* margin: 0 2.5rem; */
	/* margin-top: -1.8rem; */
	padding: 2.5rem 5rem;
	background-color: var(--color-dark--1);
	/* min-height: calc(100vh - 5rem); */
	height: 100vh;
}

.image {
	width: 100%;
}
.product section {
	width: clamp(80rem, 80%, 90rem);
	margin: 6rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 7rem;
	align-items: center;
}

.product h2 {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 3rem;
	filter: drop-shadow(6px 14px 10px #000);
	/* box-shadow: 1px 1px 10px var(--color-dark--1); */
}

.product p {
	font-size: 1.6rem;
	margin-bottom: 2rem;
	filter: drop-shadow(1px 1px 1px #fff);
}

.product section a {
	margin-top: 2rem;
}
